<!DOCTYPE html>
<html ng-app="geibiller">

<head>
    <title>GEI Biller</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body ng-controller="app-controller">

    <div class="container flex-column">
        <div class="header flex-row">
            <div class="header-left flex-column">
                <div class="row flex-row">
                    <div class="label vertical-center">
                        Company
                    </div>
                    <div class="input vertical-center">
                        <select ng-model="selectedCompany" ng-options="company.name for company in companies">
                        </select>
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="label vertical-center">
                        Company GST IN
                    </div>
                    <div class="input vertical-center">
                        <input type="text" value="" disabled ng-model="selectedCompany.gst" />
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="label vertical-center">
                        Client
                    </div>
                    <div class="input vertical-center editable-select">
                        <select ng-model="selectedClientIndex"
                                ng-change="onClientSelect()">
                            <option ng-repeat="client in clients track by $index"
                                    value="{{$index}}">{{client.name}}</option>
                        </select>
                        <input type="text"
                               ng-model="selectedClient.name">
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="label vertical-center">
                        Client Address
                    </div>
                    <div class="input vertical-center">
                        <textarea name="client-address" ng-model="selectedClient.address"></textarea>
                    </div>
                </div>
            </div>

            <div class="header-right flex-row">
                <div class="header-right-west flex-column">
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            Invoice No.
                        </div>
                        <div class="input vertical-center">
                            <input type="text" disabled
                                   value="{{getInvoiceNo()}}"/>
                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            Challan No.
                        </div>
                        <div class="input vertical-center">
                            <input type="text" value="" ng-model="challanNo" />
                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            Order No.
                        </div>
                        <div class="input vertical-center">
                            <input type="text" value="" ng-model="orderNo" />
                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            GST IN
                        </div>
                        <div class="input vertical-center">
                            <input type="text" value="" ng-model="selectedClient.gst" />
                        </div>
                    </div>
                </div>

                <div class="header-right-east flex-column">
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            Date
                        </div>
                        <div class="input vertical-center">
                            <input type="date" value="" ng-model="invoiceDate" />

                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            Date
                        </div>
                        <div class="input vertical-center">
                            <input type="text" value="" ng-model="challanDate" />
                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="label vertical-center">
                            Date
                        </div>
                        <div class="input vertical-center">
                            <input type="text" value="" ng-model="orderDate" />
                        </div>
                    </div>
                    <div class="row flex-row">
                    </div>
                </div>

            </div>
        </div>

        <div class="content flex-column" ng-controller="items-controller">
            <ul class="content-top">
                <li class="item-header flex-row">
                    <span>#</span>
                    <span>Description</span>
                    <span>Quantity (pcs)</span>
                    <span>Rate (₹)</span>
                    <span>Amount</span>
                </li>
                <li class="item flex-row" ng-repeat="item in items track by $index">
                    <span class="vertical-center">{{$index+1}}</span>
                    <span class="vertical-center"> <textarea ng-model="item.desc" rows="1" class="mousetrap"></textarea> </span>
                    <span class="vertical-center"> <input type="number" ng-model="item.qty" class="mousetrap"/></span>
                    <span class="vertical-center"> <input type="number" ng-model="item.rate" class="mousetrap"/> </span>
                    <span class="vertical-center">{{format(item.qty * item.rate)}}</span>
                </li>
                <!--<li class="item new flex-row">
                    <span class="vertical-center">-</span>
                    <span class="vertical-center"> <textarea placeholder="Product Description" class="mousetrap" ng-model="desc" rows="1" msd-elastic></textarea> </span>
                    <span class="vertical-center"> <input type="number" value="0" class="mousetrap" ng-model="qty"/></span>
                    <span class="vertical-center"> <input type="number" value="0" class="mousetrap" ng-model="rate"/> </span>
                    <span class="vertical-center">{{format(qty * rate)}}</span>
                </li>-->

            </ul>
            <div class="content-bottom flex-column">
                <div class="flex-row">
                    <span class="label">Total amount before Tax</span>
                    <span class="value">{{format(getTotal())}}</span>
                </div>
                <div class="flex-row">
                    <span class="label">SGST @ {{selectedCompany.sgst}}%</span>
                    <span class="value">{{format(getSGST())}}</span>
                </div>
                <div class="flex-row">
                    <span class="label">CGST @ {{selectedCompany.cgst}}%</span>
                    <span class="value">{{format(getCGST())}}</span>
                </div>
                <div class="flex-row">
                    <span class="label">Total GST @ {{selectedCompany.cgst + selectedCompany.sgst}}%</span>
                    <span class="value">{{format(getCGST() + getSGST())}}</span>
                </div>
                <div class="flex-row">
                    <span class="label">Total amount after Tax</span>
                    <span class="value">{{format(getTotalAfterTax())}}</span>
                </div>
                <div class="flex-row">
                    <span class="label">Reduce </span>
                    <span class="value">{{format(getReduce())}}</span>
                </div>
                <div class="flex-row">
                    <span class="label">({{inWords()}}) Total</span>
                    <span class="value">{{format(getTotal() + getSGST() + getCGST() + getReduce())}}</span>
                </div>
            </div>
        </div>

        <div class="footer vertical-center">
            <button class="btn-save btn" ng-click="save()">SAVE</button>
            <button class="btn-settings btn" ng-click="openSettings()">SETTINGS</button>
        </div>

    </div>

    <!-- bower:js -->
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/angular-elastic/elastic.js"></script>
    <script src="../vendor/jsoneditor/dist/jsoneditor.min.js"></script>
    <!-- endbower -->
    <script src="../js/settings.js"></script>
    <script src="../js/home.js"></script>
</body>

</html>