@import 'base/base';
@import 'includes/nav';
@import 'includes/footer';

.container {
    width: 100%;
    height: 100%;
    
    .header {
        height: 200px;
        
        &-left {
            flex: 1;
            background-color: white;
            
            .row:last-child {
                flex: 2;
            }
        }
        
        &-right {
            flex: 2;
            border-left: 2px solid gainsboro;
            background-color: whitesmoke;
            
            &-west,&-east {
                flex: 1;                
            }
            
            &-east {
                input[type="date"] {
                    font: inherit;
                }
            }
        }
        
        .row {
            margin: 10px;
            flex: 1;

            .label {
                flex: 1;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                justify-content: flex-start;
//                    background-color: gainsboro;
            }

            .input {
                flex: 3;
//                    background-color: grey;

                select,
                input {
                    width: 100%;
                    margin-bottom: 0;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid gainsboro;
                }
                
                &.editable-select {
                    position: relative;
                    input {
                        position: absolute;
                        left: 0;
                        width: calc(100% - 20px);
                        border: 0;
                        outline: none;
                        margin: 1px;
                    }
                }

                textarea {
                    resize: none;
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    box-sizing: border-box;
                    font: inherit;
                    border-radius: 5px;
                    border: 1px solid gainsboro;
                }
            }
        }
    }
    
    .content {
        flex: 1;
        overflow: auto;
        
        &-top {
            overflow: auto;
            flex: 1;
            width: 100%;
            margin: 0;
            padding-left: 0;
            background-color: white;
            
            .item-header {
                span {
                    font-weight: bold;
                }
                border: 2px solid gainsboro;
                border-width: 2px 0px;
            }
            
            .item.new {
                background-color: whitesmoke;
                /** {
                    color: gray;
                }*/
            }
            
            /*.item {
                background-color: gainsboro;
                
                &:nth-child(2n) {
                    background-color: white;
                }
            }*/
            
            span {
                padding: 10px;
                text-align: center;
                box-sizing: border-box;

                &:nth-child(1) {
                    flex: 1;
                }
                &:nth-child(2) {
                    flex: 3;
                }
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    flex: 2;
                }
                
                textarea {
                    resize: none;
                    font: inherit;
                }
                input, textarea {
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;
                    border: 0;
                }
            }
        }
        
        &-bottom {
            border-top: 2px solid gainsboro;
            
            > div {
                &:not(:first-child) {
                    border-top: 1px solid gainsboro;
                }
                
                
                /*background-color: whitesmoke;
                &:nth-child(2n) {
                    background-color: gainsboro;
                }*/
                
                > span {
                    font-size: 10pt;
                    padding: 5px;
                    
                    &.label {
                        flex: 8;
                        text-align: right;
                        font-weight: bold;
                        border-right: 1px solid gainsboro;
                    }
                    
                    &.value {
                        flex: 2;
                        text-align: right;
                    }
                }
            }
        }
    }
    
    .footer {
        padding: 25px;
        border-top: 2px solid gainsboro;
        background-color: whitesmoke;
        justify-content: space-around;
        
        .btn {
            border: 0;
            border-radius: 5px;
            padding: 10px;
            font-weight: bold;
            transition: all 0.25s;
            cursor: pointer;
            font-size: 11pt;
            width: 25%;
            background-color: gainsboro;
            color: black;

            &:hover {
                background-color: dodgerblue;
            }
        }
    }
}

/* INPUT DROP DOWN */
.input-dropdown ul > li.active {
  background-color: gainsboro;
}